{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit {{ menu_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container contact-form">
            <form action="{{ url_for('editMenuItem', rest_id = rest_id, menu_id = menu_id) }}" method = 'POST'>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type='text' size='30' id="name" name='name' class="form-control" value="{{ menu_name }}">
                            <label for="description">Description</label>
                            <textarea type='text' size='30' id="description" name='description' class="form-control">{{ menu_description }}</textarea>
                            <label for="price">Price</label>
                            <input type='text' size='30' name='price' class="form-control" value="{{ menu_price }}">
                            <label for="course">Course</label>
                            <input type='text' size='30' name='course' class="form-control" value="{{ menu_course }}">
                            <input type='submit' class="btn btn-lg btn-primary" value='Update'>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}