{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Restaurant Listing{% endblock %}</h1>
    <div><a href="{{ url_for('newRestaurant') }}">Add Restaurant</a></div>
{% endblock %}

{% block content %}
    {% for r in restaurants %}
        <div>
            <h4>{{ r.name }}</h4>
            {{ r.address }}</br>
            {% if r.phone %}
                {{ r.phone }}</br>
            {% endif %}
            {% if r.website %}
                {{ r.website }}</br>
            {% endif %}
            <div><a href="{{ url_for('showMenu', rest_id = r.id) }}">View Menu</a></div>
            <div><a href="{{ url_for('editRestaurant', rest_id = r.id) }}">Edit</a></div>
            <div><a href="{{ url_for('deleteRestaurant', rest_id = r.id) }}">Delete</a></div>
        </div>
    {% endfor %}
{% endblock %}