{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ rest_name}} Menu{% endblock %}</h1>
    <div><a href="{{ url_for('newMenuItem', rest_id = rest_id) }}">Add Menu Item</a></div>
{% endblock %}

{% block content %}
    {% for i in items %}
        <div>
            <h4>{{ i.name }}</h4>
            {{ i.description }}</br>
            {% if i.course %}
                {{ i.course }}</br>
            {% endif %}
            {% if i.price %}
                {{ i.price }}</br>
            {% endif %}
            <div><a href="{{ url_for('editMenuItem', rest_id = rest_id, menu_id = i.id) }}">Edit</a></div>
            <div><a href="{{ url_for('deleteMenuItem', rest_id = rest_id, menu_id = i.id) }}">Delete</a></div>
        </div>
    {% endfor %}
{% endblock %}