{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ rest_name}} Menu{% endblock %}</h1>
    <div><a class="btn btn-lg btn-primary" href="{{ url_for('newMenuItem', rest_id = rest_id) }}" role="button">Add Menu Item &raquo;</a></div>
{% endblock %}

{% block content %}
    {% for i in items %}
        <div class="jumbotron">
            <h4>{{ i.name }}</h4>
            {{ i.description }}</br>
            {% if i.course %}
                {{ i.course }}</br>
            {% endif %}
            {% if i.price %}
                {{ i.price }}</br>
            {% endif %}
            <div>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('editMenuItem', rest_id = rest_id, menu_id = i.id) }}" role="button">Edit</a>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('deleteMenuItem', rest_id = rest_id, menu_id = i.id) }}" role="button">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}